# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc
*.pyo
*.pyd
.pytest_cache/

# 虚拟环境
fastapi/
venv/
env/
ENV/

# 环境变量
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 数据库
*.db
*.sqlite
*.sqlite3

# 日志
*.log
logs/

# OS
.DS_Store
Thumbs.db

# 爬蟲csv檔案
crawler/finmind/finmind_output